.header{
    display: flex;
    justify-content: space-between;
}
.Logo{
    width:10rem;
    height: 3rem;
}
.header-menu{
    list-style: none; /*to remove th style dots */
    display: flex;
    gap: 2rem;
    color: white;
    /* justify-content: space-between; */
}

/* helps to hover and change the cursor on the particular element  */
/* .header-menu>li{
    cursor: pointer
} */
.header-menu>li:hover{
    cursor: pointer;
    color:var(--orange);
    cursor: pointer
}